In [1]:
import requests

url = 'http://currentcricket.herokuapp.com/api/matches/current'

headers = {
"X-RapidAPI-Key": "6edc5df547mshb3a21b44f1964a8p119c9djsn621ec002893e",
"X-RapidAPI-Host": "cricket-live-scores4.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

In [2]:
r=response.json()['data']['matches']

In [5]:
d=pd.json_normalize(r,"teams",["id"],errors="ignore")
#df2=d['id','score']
df2=d[['score','id']]
df2

    score      id
0    None  104457
1    None  104457
2    None  104458
3    None  104458
4    None  104459
..    ...     ...
125  None  104145
126  None  105439
127  None  105439
128  None  104606
129  None  104606

[130 rows x 2 columns]

In [4]:

import pandas as pd

In [6]:
df=pd.DataFrame(response.json()['data']['matches'])[['id','stage','title','startDate','endDate','status','statusText','winnerTeamId']]

In [7]:
df

,id,stage,title,startDate,endDate,status,statusText,winnerTeamId
0,104457,RUNNING,59th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN
1,104458,RUNNING,60th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN
2,104459,RUNNING,61st match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN
3,104460,RUNNING,62nd match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN
4,104461,RUNNING,63rd match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN
...,...,...,...,...,...,...,...,...
60,103078,SCHEDULED,,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN
61,103480,SCHEDULED,2nd T20I,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN
62,104145,SCHEDULED,26th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN
63,105439,SCHEDULED,20th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN
64,104606,SCHEDULED,5th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN

In [8]:
result= pd.merge(df, df2,on='id',how="inner")
result

,id,stage,title,startDate,endDate,status,statusText,winnerTeamId,score
0,104457,RUNNING,59th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
1,104457,RUNNING,59th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
2,104458,RUNNING,60th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
3,104458,RUNNING,60th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
4,104459,RUNNING,61st match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
...,...,...,...,...,...,...,...,...,...
125,104145,SCHEDULED,26th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN,None
126,105439,SCHEDULED,20th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN,None
127,105439,SCHEDULED,20th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN,None
128,104606,SCHEDULED,5th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN,None
129,104606,SCHEDULED,5th Match,2022-07-23T00:00:00.000Z,2022-07-23T00:00:00.000Z,{{MATCH_START_TIME}},Match yet to begin,NaN,None

In [9]:
result.loc[result['stage'] == 'RUNNING']

,id,stage,title,startDate,endDate,status,statusText,winnerTeamId,score
0,104457,RUNNING,59th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
1,104457,RUNNING,59th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
2,104458,RUNNING,60th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
3,104458,RUNNING,60th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
4,104459,RUNNING,61st match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
5,104459,RUNNING,61st match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
6,104460,RUNNING,62nd match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
7,104460,RUNNING,62nd match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
8,104461,RUNNING,63rd match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
9,104461,RUNNING,63rd match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
10,104462,RUNNING,64th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
11,104462,RUNNING,64th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
12,104463,RUNNING,65th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
13,104463,RUNNING,65th match,2022-07-18T00:00:00.000Z,2022-07-21T00:00:00.000Z,Not covered Live,None,NaN,None
14,102887,RUNNING,37th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Derbyshire trail by 221 runs.,NaN,618/8d
15,102887,RUNNING,37th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Derbyshire trail by 221 runs.,NaN,(f/o) 318 & 79/0
16,102888,RUNNING,38th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Middlesex trail by 38 runs.,NaN,523
17,102888,RUNNING,38th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Middlesex trail by 38 runs.,NaN,485
18,102889,RUNNING,48th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Lancashire need 86 runs.,NaN,235 & 174
19,102889,RUNNING,48th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Lancashire need 86 runs.,NaN,132 & 192/5
20,102883,RUNNING,44th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Gloucs trail by 65 runs.,NaN,457
21,102883,RUNNING,44th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Gloucs trail by 65 runs.,NaN,(f/o) 201 & 191/4
22,102884,RUNNING,45th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Somerset lead by 373 runs.,NaN,424 & 225/6
23,102884,RUNNING,45th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Somerset lead by 373 runs.,NaN,276
24,102885,RUNNING,46th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Surrey need 76 runs.,NaN,271 & 208
25,102885,RUNNING,46th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Surrey need 76 runs.,NaN,319 & 85/2
26,102886,RUNNING,47th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Warwickshire need 297 runs.,NaN,165 & 384/9d
27,102886,RUNNING,47th Match,2022-07-19T00:00:00.000Z,2022-07-22T00:00:00.000Z,Stumps,Day 3 - Warwickshire need 297 runs.,NaN,225 & 28/2
28,102890,RUNNING,39th Match,2022-07-20T00:00:00.000Z,2022-07-23T00:00:00.000Z,Stumps,Day 2 - Glamorgan trail by 473 runs.,NaN,584
29,102890,RUNNING,39th Match,2022-07-20T00:00:00.000Z,2022-07-23T00:00:00.000Z,Stumps,Day 2 - Glamorgan trail by 473 runs.,NaN,111/2
68,105431,RUNNING,17th Match,2022-07-22T00:00:00.000Z,2022-07-22T00:00:00.000Z,Not covered Live,None,NaN,None
69,105431,RUNNING,17th Match,2022-07-22T00:00:00.000Z,2022-07-22T00:00:00.000Z,Not covered Live,None,NaN,None
70,105133,RUNNING,Group A,2022-07-22T00:00:00.000Z,2022-07-22T00:00:00.000Z,Match delayed - Rain,Ace Capital chose to field.,NaN,None
71,105133,RUNNING,Group A,2022-07-22T00:00:00.000Z,2022-07-22T00:00:00.000Z,Match delayed - Rain,Ace Capital chose to field.,NaN,None
72,105499,RUNNING,9th Match,2022-07-22T00:00:00.000Z,2022-07-22T00:00:00.000Z,Live,SGT chose to field.,NaN,82/2
73,105499,RUNNING,9th Match,2022-07-22T00:00:00.000Z,2022-07-22T00:00:00.000Z,Live,SGT chose to field.,NaN,None